<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map_canvas {
        height: 50%;
      }
        img#mapImg {
            //display: none;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD15fyyrDh9M_UfriiceoLl-ClAJoVlgls&callback=initialize" async defer>

    </script>
    <script type="text/javascript">
      key = 'AIzaSyD15fyyrDh9M_UfriiceoLl-ClAJoVlgls';
      var map;
      // Globals same for all requests
        var queryUrlHead = 'https://fusiontables.googleusercontent.com/fusiontables/api/query?sql=';
        var queryUrlTail = '&jsonCallback=example_dataHandler'; // ? could be a function name

      function initialize() {
          //var myLatlng = new google.maps.LatLng(47.3537106195136,8.5693359375);
          // var myLatlng = new google.maps.LatLng(46.502173483540716, 8.103103637695312);
          // var myLatlng = new google.maps.LatLng(0,0);
          var myLatlng = new google.maps.LatLng(35.0000, 103.0000);
          var myOptions = {
          zoom: 10,
          center: myLatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };


        map = new google.maps.Map(document.getElementById('map_canvas'),
            myOptions);

        var elevator = new google.maps.ElevationService;

        map.set('styles', [
            {
                "featureType": "administrative",
                "stylers": [
                  //{ "color": "#ff0000" },
                  { "visibility": "off" }
                ]
            }, {
              featureType: 'poi',
              elementType: 'geometry',
              stylers: [
                { 'visibility': 'off' }
              ]
            }
        ]);
        /*
        // marker STARTS
        var marker = new google.maps.Marker({
            position: myLatlng,
            title:"Click to view info!"
        });
        marker.setMap(map);*/
        // marker ENDS

        // info-window STARTS
        var infowindow = new google.maps.InfoWindow({ content: "Atlantic Ocean", map: map });
        infowindow.setPosition(myLatlng);
        google.maps.event.addListener(map, 'click', function(e) {
            myLatlng = new google.maps.LatLng(e.latLng.lat(),e.latLng.lng());
            /*marker = new google.maps.Marker({
                position: myLatlng,
                title:"Click to view info!"
            });
            marker.setMap(map);*/
            //infowindow.open(map,marker);
            console.log(google.maps);

            geocoder = new google.maps.Geocoder();
            displayLocationElevation(myLatlng, elevator, infowindow, geocoder)

            /*$.ajax({
                type: "POST",
                url:  "{% url 'maps:index' %}",
                //dataType: "jsonp",  // return CSV FustionTable response as JSON
                data: {lat:e.latLng.lat(), lng: e.latLng.lng()},
                success: function(response){
                    console.log(response);
                },
                error: function (xhr,status,error) {
                    console.log(status);
                //alert("AJAX ERROR for " + queryurl );
                }
            });*/

            // Get Address
            /*geocoder = new google.maps.Geocoder();
            geocoder.geocode({'latLng': myLatlng}, function(results, status){
                if (status === google.maps.GeocoderStatus.OK) {
                  if (results[1]) {
                    var address = results[1].formatted_address;
                    console.log(results[1]);
                    infowindow = new google.maps.InfoWindow({content:address});
                    infowindow.open(map,marker);
                    console.log("***Geocoder***");
                    console.log(is_water(e.latLng.lat(), e.latLng.lng()));
                  } else {
                    console.log('No results found');
                  }
                } else {
                  console.log('Geocoder failed due to: ' + status);
                }
            });*/
            console.log(e.latLng.lat(), e.latLng.lng());
        });
        // info-window ENDS

     }

    function displayLocationElevation(location, elevator, infowindow, geocoder) {
      // Initiate the location request
      elevator.getElevationForLocations({
        'locations': [location]
      }, function(results, status) {

        if (status === google.maps.ElevationStatus.OK) {
            console.log(results);
          // Retrieve the first result
          if (results[0]) {
            // Open the infowindow indicating the elevation at the clicked position.
            //infowindow.setContent('The elevation at this point <br>is ' +
            //    results[0].elevation + ' meters.');

            var posElevation = results[0].elevation;
            // Check Ocean and Mountain [Ocean elevation is always negation and lowest elevation of mountain is 300m]
            if(0 < posElevation && posElevation < 300){
                infowindow.setPosition(location);
                console.log(posElevation);
                geocoder.geocode({'latLng': location}, function(results, status){
                    if (status === google.maps.GeocoderStatus.OK) {
                      if (results[1]) {
                        var address = results[1].formatted_address;
                        console.log(results[1]);
                        infowindow.setContent(address);
                      } else {
                        console.log('No results found');
                      }
                    } else {
                      console.log('Geocoder failed due to: ' + status);
                    }
                });
            }
          } else {
            infowindow.setContent('No results found');
          }
        } else {
          infowindow.setContent('Elevation service failed due to: ' + status);
        }
      });
    }


    function httpGet(theUrl)
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
        xmlHttp.send( null );
        return xmlHttp.responseText;
    }
      //google.maps.event.addDomListener(window, 'load', initialize);

    function is_water(xGps, yGps){
        var img = document.getElementById('mapImg');

        // Bypass the security issue : drawing a canvas from an external URL.
        img.crossOrigin='http://maps.googleapis.com/crossdomain.xml';

        //var mapUrl = "http://maps.googleapis.com/maps/api/staticmap?center=" + xGps + "," + yGps +
            "&zoom=14&size=20x20&maptype=roadmap&sensor=false";

        var mapUrl = "http://maps.googleapis.com/maps/api/staticmap?scale=2&center=" + xGps + "," + yGps +
        "&zoom=13&size=20x20&sensor=false&visual_refresh=true&style=element:labels|visibility:off&style=feature:water|color:0x00FF00&style=feature:transit|visibility:off&style=feature:poi|visibility:off&style=feature:road|visibility:off&style=feature:administrative|visibility:off";

        // mapUrl += "&key=" + key;

        $(img).attr('src',mapUrl);

        var canvas = document.createElement('canvas');
        canvas.width = img.width;
        canvas.height = img.height;
        canvas.getContext('2d').drawImage(img, 0, 0, img.width, img.height);

        var pixelData = canvas.getContext('2d').getImageData(1, 1, 1, 1).data;
        console.log(canvas.getContext('2d').getImageData(1, 1, 1, 1));
        /*
        if (pixelData[0] == 164 &&
            pixelData[1] == 190 &&
            pixelData[2] == 220) {
            return true;
        } else {
            return false;
        }
        */
        if (pixelData[0] == 0 &&
            pixelData[1] == 255 &&
            pixelData[2] == 0) {
            return true;
        } else {
            return false;
        }
    }

    function getFTData(table_id, col_list, successFunction) {

        var query = "SELECT " + col_list + " FROM " + table_id;

        var queryurl = encodeURI(queryUrlHead + query + queryUrlTail);

        $.ajax({
            type: "GET",
            url:  queryurl,
            dataType: "jsonp",  // return CSV FustionTable response as JSON
            success: successFunction,
            error: function (xhr,status,error) {
                console.log(status);
            //alert("AJAX ERROR for " + queryurl );
            }
        });
    }
    function example_dataHandler(d) {
        // get the actual data out of the JSON object
        var cols = d.table.cols;
        var rows = d.table.rows;
        var row_count = 0;
        var results = '<table border="1" cellpadding="4">';
        results += '<tr>';
        for (var i = 0; i < cols.length; i++) {
            results += '<th>' + cols[i] + '</th>';
        }
        results += '</tr>';
        // loop through all rows to add them to the map
        for (var i = 0; i < rows.length; i++) {

            // Per the expected columns
            results += '<tr>';
            for(j=0; j < rows[i].length; j++)
            {
                results += '<td>' +  rows[i][j] + '</td>';
            }
            results += '</tr>';
            row_count++;
        }
        results += '</table>';
        results += '<br />';

        results += 'Row Count: ' + row_count + '<br />';;
        document.getElementById("program_select").innerHTML = results;
    }

    //getFTData('1rVH53DHk3t13HbLlUfGlQLBWYy7X25WABYJfeVmJ', 'lat,lng,address', example_dataHandler);
</script>

</head>
<body>
    <img id="mapImg" src="" />
    <div id="map_canvas"></div>
    <div id="program_select"></div>
</body>
</html>
